body{
  width: auto;
  height: 115px;
  font-family: Circular, Ubuntu, Roboto, -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
  background: linear-gradient(to right, #0d0d0f, #3431ca), #3431ca;
  * {
    height: auto;
    width: auto;
  }
}
img.logo {
  height: 115px;
}
